
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #0f0f1e;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
}

header{
    position: fixed;
    width: 90vw;
    top: 0;
    padding: 20px 50px;  
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index: 3;
    margin-left: 100px;
}

.logo {
    font-family: "Orbitron", sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
    color: #00f7ff;
    text-shadow: 0 0 10px rgba(0, 247, 255, 0.5);
    margin-left: -96px;
}

header nav ul {
    display: flex;
    gap: 48px;
}

header nav ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

header nav ul li::after { 
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #00f7ff;
    transition: width 0.2s ease;
}

header nav ul li:hover::after {
    width: 100%;
}

.container {
    height: 100vh;
    position: relative;
    background-color: linear-gradient(135deg, #0f0f1e 0%, #1f1f3a 100%);
    overflow: hidden;
}

.container::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background:radial-gradient(circle, rgba(4, 236, 217, 0.233) 0%, rgba(15, 15, 30, 0) 70%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(50px);
    z-index: 1;
    animation: pulse 2s infinite alternate;
}

@keyframes pulse {
    0% {
       opacity: 0.5;
       transform: translate(-50%, -50%) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.5);
    }
}

.list {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-left: 150px;
    position: relative;
}

.item {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

     /* ANIMACAO*/
    transform: translateX(100vw);
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.active {
      opacity: 1;
      transform: translateX(0);
}

.product-img {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.product-img img {
    max-width: 80%;
    max-height: 60%;
    filter: drop-shadow(0 0 30px rgba(0, 247, 255, 0.5));
    /* ANIMACAO */
    transform: translateX(500px);
    opacity: 0; 
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.5s;
    margin-left: -390px;
}

.active .product-img img {
    transform: translateX(0);
    opacity: 1;
}

.content {
    width: 55%;
    padding-right: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
    margin-left: -200px;
}

.product-tag {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #00f7ff;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.product-name {
    font-size: 3rem;
    font-family: "Orbitron", sans-serif;
    line-height: 1.1;
    margin-bottom: 20px;
        /* ANIMACAO */
    transform: translateX(500px);
    opacity: 0; 
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.5s;
}

.active .product-name {
    transform: translateX(0);
    opacity: 1;
}

.description {
    font-size: 1.1rem;
    color: #b8b8d0;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 600px;
            /* ANIMACAO */
    transform: translateX(500px);
    opacity: 0; 
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.5s;
}

.active .description {
    transform: translateX(0);
    opacity: 1;
}


.btn {
    padding: 11px 20px;
    background: linear-gradient(90deg, #00f7ff, #0066ff);
    border-radius: 500px;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background: linear-gradient(90deg, #0066ff, #00f7ff);
}

.arrows {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.arrow-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 247, 255, 0.3);
}

.arrow-btn:hover{
    background-color: rgba(0, 247, 255, 0.2); 
    border-color: #00f7ff;
}

.indicators{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 5;
}

.numbers{
    font-family: "Orbitron", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.2);
}

.dots{
    display: flex;
    gap: 10px;
}

.dot{
    width: 40px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
}

.dot.active{
    background-color: #00f7ff;
    box-shadow: 0 0 10px rgba(0, 247, 255, 0.5);
}

.tech-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circle {
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(0, 247, 255, 0.2);
    filter: drop-shadow(0 0 30px rgba(70, 232, 238, 0.966));
    animation: pulse 2s infinite alternate;
    

}

.circle:nth-child(1) {
    width: 100px;
    height: 100px;
    top: 20%;
    left: 10%;
    
}

.circle:nth-child(2) {
    width: 200px;
    height: 200px;
    top: 73%;
    left: 85%;
}

.circle:nth-child(3) {
    width: 150px;
    height: 150px;
    top: 80%;
    left: 20%;
}

.circle:nth-child(4) {
    width: 90px;
    height: 90px;
    top: 20%;
    left: 70%;
}


